## String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
a = "ajit"
a[::-1]

2. Check if a string is a palindrome.

In [ ]:
a = "level"
b = a[::-1]
if a == b:
    print("String is palindrome")
else:
    print("Sting is not a palindrome")

3. Convert a string to uppercase.

In [ ]:
a = "ajit"
a.upper()

4. Convert a string to lowercase.

In [ ]:
a = "Ajit"
a.lower()

5. Count the number of vowels in a string.

In [ ]:
string = "HEllo world!"
string = string.lower()
vowels = "aeiou"
i = 0
for a in string:
    if a in vowels:
        i += 1

print(i)

6. Count the number of consonants in a string.

In [ ]:
string = "HEllo world!"
string = string.lower()
vowels = "bcdfgjklmnpqstvxzhrwy"
i = 0
for a in string:
    if a  in vowels:
        i += 1

print(i)

7. Remove all whitespaces from a string.

In [ ]:
text = "hello, how are you?"
format_data = text.replace(" ", "")
print(format_data)

8. Find the length of a string without using the `len()` function.

In [ ]:
text = "hello world!"
count = 0
for s in text:
    count += 1
    
print(count)

9. Check if a string contains a specific word.

In [ ]:
text = "hello, how are you?"
search_string = "how"

if search_string in text:
    print("String found")
else:
    print("String not found")

10. Replace a word in a string with another word.

In [ ]:
string = "hello, how are you?"
string.replace("how","howdy")

11. Count the occurrences of a word in a string.

In [ ]:
text = "Hello how are your doing where are your"
word_search = "are"
words = text.split()
count = 0

for word in words:
    if word == word_search:
        count += 1
    
print(f"The word '{word_search}' appears {count} times.")

12. Find the first occurrence of a word in a string.

In [ ]:
text = "Hello how are your doing where are your"
word_search = "are"

index = text.find(word_search)

print(f"The first occurance of word '{word_search}' at index {index}")

13. Find the last occurrence of a word in a string.

In [ ]:
text = "Hello how are your doing where are your"
word_search = "are"

index = text.rfind(word_search)

print(f"The first occurance of word '{word_search}' at index {index}")

14. Split a string into a list of words.

In [ ]:
text = "Hello how are your doing where are your"
words = text.split()
words

15. Join a list of words into a string.

In [ ]:
text = ['Hello', 'how', 'are', 'your', 'doing', 'where', 'are', 'your']
words = " ".join(text)
words

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
text = "Hello how are you doing"
text.replace(" ","_")

17. Check if a string starts with a specific word or phrase.

In [ ]:
text = "Hello how are your doing where are your"

text.startswith("Hello")

18. Check if a string ends with a specific word or phrase.

In [ ]:
text = "Hello how are your doing where are your"

text.endswith("your")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
text = "hello world"
text.title()

20. Find the longest word in a string.

In [ ]:
text = "Is it raining"
words = text.split()
max_word = ""

for word in words:
    if len(word) > len(max_word):
        max_word = word
        
max_word

21. Find the shortest word in a string.

In [ ]:
text = "Are we going out"
words = text.split()
min_word = words[0]

for word in words:
    if len(word) < len(min_word):
        min_word = word
        
min_word

22. Reverse the order of words in a string.

In [ ]:
text = "Are we going out"
words = text.split()
text = " ".join(reversed(words))
text

23. Check if a string is alphanumeric.

In [ ]:
text = "ajitk15"
text.isalnum()

24. Extract all digits from a string.

In [ ]:
text = "ajitk15"
for t in text:
    if t.isnumeric():
        print(t)

25. Extract all alphabets from a string.

In [ ]:
text = "ajitk15"
for t in text:
    if t.isalpha():
        print(t)

26. Count the number of uppercase letters in a string.

In [ ]:
text = "Hello How Are You"
count = 0
for t in text:
    if t.isupper():
        count += 1

count

27. Count the number of lowercase letters in a string.

In [ ]:
text = "Hello How Are You"
count = 0
for t in text:
    if t.islower():
        count += 1

count

28. Swap the case of each character in a string.

In [ ]:
text = "Hello How Are You"
format_text = text.swapcase()
format_text

29. Remove a specific word from a string.

In [ ]:
text = "Hello How Are You"
text = text.replace("Are", "")
text

30. Check if a string is a valid email address.

In [ ]:
import re
email = "ajit@ajit.com"
regx = r'^[\w\.-]+@[\w\.-]+\.\w+$'

if re.match(regx, email):
    print("Given string is a email")
else:
    print("Given string is not a email")

31. Extract the username from an email address string.

In [ ]:
email = "ajit@ajit.com"
username = email.split("@")
username[0]

32. Extract the domain name from an email address string.

In [ ]:
email = "ajit@ajit.com"
username = email.split("@")
username[1]

33. Replace multiple spaces in a string with a single space.

In [ ]:
text="Hello   Are  You"
modified_string = text.replace("  ", " ")
while "  " in modified_string:
    modified_string = modified_string.replace("  ", " ")
    
    
print(modified_string)

34. Check if a string is a valid URL.

In [ ]:
import re
url = "http://www.google.com"
regex = r"(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'\".,<>?«»“”‘’]))"

if re.match(regex, url):
    print("match")

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url = "http://www.google.com"
protocal = url.split(":")
print(protocal[0])

36. Find the frequency of each character in a string.

In [ ]:
text = "Hello How Are You"
text = text.lower()
dist = {}

for c in text:
    if c in dist:
        dist[c] = dist[c] + 1
    else:
        dist[c] = 1
        
print(dist)

37. Remove all punctuation from a string.

In [ ]:
import string
text = "hello world!!"

for punctuation in string.punctuation:
    text = text.replace(punctuation, "")
    
print(text)

38. Check if a string contains only digits.

In [ ]:
text = "132323"
if text.isdigit():
    print("Input is digit")
else:
    print("Input is not digit")

39. Check if a string contains only alphabets.

In [ ]:
text = "ajitkumar"
if text.isalpha():
    print("Input is alphabet")
else:
    print("Input is not alphabets")

40. Convert a string to a list of characters.

In [ ]:
text="hello"
list(text)

41. Check if two strings are anagrams.

In [ ]:
# integral =  traingle

string1 = "integral"
string2 = "traingle"

if sorted(string1) == sorted(string2):
    print("two strings are anagrams")
else:
    print("two strings are NOT anagrams")

42. Encode a string using a Caesar cipher.

In [ ]:
text = input("Enter text to encode: ").lower()
shift = int(input("Enter shift key: "))

alphabet = "abcdefghijklmnopqrstuvwxyz"
encoded_text = ""

for t in text:
    new_index = (alphabet.index(t) + shift)%26
    encoded_text += alphabet[new_index]
    
print(encoded_text)

43. Decode a Caesar cipher encoded string.

In [ ]:
text = input("Enter text to encode: ").lower()
shift = int(input("Enter shift key: "))

alphabet = "abcdefghijklmnopqrstuvwxyz"
decode_text = ""

for t in text:
    new_index = (alphabet.index(t) - shift)%26
    decode_text += alphabet[new_index]
    
print(decode_text)

44. Find the most frequent word in a string.

In [ ]:
text = "hello how are you doing what do you want"
words = text.lower().split()
dist = {}
for word in words:
    if word in dist:
        dist[word] += 1
    else:
        dist[word] = 1
        
most_common_word = max(dist, key=dist.get)

print(most_common_word)

45. Find all unique words in a string.

In [ ]:
text = "hello how are you doing what do you want"
words = text.lower().split()
dist = {}
for word in words:
    if word in dist:
        dist[word] += 1
    else:
        dist[word] = 1
        

for key, value in dist.items():
    if dist[key] == 1:
        print(key)

46. Count the number of syllables in a string

In [ ]:
string = "Hello world"
words = string.lower().split()


for word in words:
    count = 0
    for char in word:
        if char in 'aeiou':
            count += 1
    else:
        print(f"{word} contains {count} syllables")

47. Check if a string contains any special characters.

In [ ]:
import re
string = "hello how are you ?"
allowed = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 ") # Considering space as non-special character

for char in string:
    if char not in allowed:
        print("Contains Special Character")

48. Remove the nth word from a string.

In [ ]:
string = "hello how are you?"
n = 1
words = string.split(" ")
new_string = ""

for i in range(len(words)):
    if i != 2:
        new_string = new_string + " " + words[i]

        
new_string.lstrip()

49. Insert a word at the nth position in a string.

In [ ]:
string = "hello are you?"
position = 6
add_word = "how"
string = string[:position] + " " + add_word + " "+ string[position:]
string

50. Convert a CSV string to a list of lists.

In [ ]:
string = "name,age,address,country"
ls_new = string.split(',')
ls_new

## List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [ ]:
ls = list(range(1,11))
ls

2. Find the length of a list without using the `len()` function.

In [ ]:
ls = list(range(1,11))
count = 0
for l in ls:
    count += 1
    
count

3. Append an element to the end of a list.

In [ ]:
ls = list(range(1,11))
ls.append(11)
ls

4. Insert an element at a specific index in a list.

In [ ]:
ls = list(range(1,11))
ls.insert(5, 100)
ls

5. Remove an element from a list by its value.

In [ ]:
ls = list(range(1,11))
ls.remove(7)
ls

6. Remove an element from a list by its index.

In [ ]:
ls = list(range(1,11))
ls.pop(4)
ls

7. Check if an element exists in a list.

In [ ]:
ls = list(range(1,11))
element = 5
if element in ls:
    at = ls.index(element)
    print(f"Element exists at {at} index in the list")

8. Find the index of the first occurrence of an element in a list.

In [ ]:
ls = [1, 2, 4, 5, 2, 3]
element = 2
if element in ls:
    at = ls.index(element)
    print(f"Element exists at {at} index in the list")

9. Count the occurrences of an element in a list.

In [ ]:
ls = [1, 2, 4, 5, 2, 3, 3, 5, 7, 2]
element = 2
ls.count(element)

10. Reverse the order of elements in a list

In [ ]:
ls = [1, 2, 4, 5, 2, 3, 3, 5, 7, 2]
ls.reverse()
ls

11. Sort a list in ascending order.

In [ ]:
ls = [1, 2, 4, 5, 2, 3, 3, 5, 7, 2]
ls.sort()
ls

12. Sort a list in descending order.

In [ ]:
ls = [1, 2, 4, 5, 2, 3, 3, 5, 7, 2]
ls.sort(reverse=True)
ls

13. Create a list of even numbers from 1 to 20.

In [ ]:
ls = list(range(1,21))
ls_even = [l for l in ls if l%2 ==0 ]
ls_even

14. Create a list of odd numbers from 1 to 20.

In [ ]:
ls = list(range(1,21))
ls_odd = [l for l in ls if l%2 !=0 ]
ls_odd

15. Find the sum of all elements in a list.

In [ ]:
ls = list(range(1,5))
total = sum(ls)
total

16. Find the maximum value in a list.

In [ ]:
ls = list(range(1,5))
max_value = max(ls)
max_value

17. Find the minimum value in a list.

In [ ]:
ls = list(range(1,5))
min_value = min(ls)
min_value

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
squares = [x**2 for x in range(1,5)]
squares

19. Create a list of random numbers.

In [ ]:
import random
ran = [random.randint(1, 100) for i in range(1,5)]
ran

20. Remove duplicates from a list.

In [ ]:
ls = [2, 5, 6, 2, 6]
ls = list(set(ls))
ls

21. Find the common elements between two lists.

In [ ]:
ls1 = [1, 3, 5]
ls2 = [1, 2, 3, 4, 5]
ls = list(set(ls1) & set(ls2))
ls

22. Find the difference between two lists.

In [ ]:
ls1 = [1, 3, 5]
ls2 = [1, 2, 3, 4, 5]
ls = list(set(ls2) - set(ls1))
ls

23. Merge two lists.

In [ ]:
ls1 = [1, 3, 5]
ls2 = [1, 2, 3, 4, 5]
ls = ls1 + ls2
ls

24. Multiply all elements in a list by 2.

In [ ]:
ls1 = [1, 3, 5]
ls1 = [l*2 for l in ls1]
ls1

25. Filter out all even numbers from a list.

In [ ]:
ls1 = [1, 3, 5, 4, 8]
ls = [l for l in ls1 if l % 2 != 0]
ls

26. Convert a list of strings to a list of integers.

In [ ]:
ls = ["1", "2", "3"]
ls_int = [int(l) for l in ls]
ls_int

27. Convert a list of integers to a list of strings.

In [ ]:
ls = [1, 2, 3]
ls_str = [str(l) for l in ls]
ls_str

28. Flatten a nested list.

In [ ]:
ls = [[1, 2, 3],[4, 5, 6]]
ls = [nl for l in ls for nl in l]
ls

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
fin = [0, 1]
for l in range(8):
     fin.append(fin[-1] + fin[-2])
        
fin

30. Check if a list is sorted.

In [ ]:
ls = [1, 2, 4, 4]
sorted = all(ls[l] <= ls[l+1] for l in range(len(ls)-1))
if sorted:
    print("Sorted")
else:
    print("Unsorted")

31. Rotate a list to the left by `n` positions.

In [ ]:
ls = [1, 2, 3, 4, 5, 6]
shiftby = 2
rotate_left = ls[shiftby:] + ls[:shiftby]
    
rotate_left

32. Rotate a list to the right by `n` positions.

In [ ]:
ls = [1, 2, 3, 4, 5, 6]
shiftby = 2
rotate_right = ls[-shiftby:] + ls[:-shiftby]
    
rotate_right

33. Create a list of prime numbers up to 50.

In [ ]:
prime = []

for n in range(51):
    if n <= 1:
        isPrime = False
    elif n <= 3:
        isPrime = True
    elif n % 2 == 0 or n % 3 == 0:
        isPrime = False
    else:
        i = 5
        # 5 * 5 <= 5
        while i * i <= n:
            #5 % 5 == 0 or 5 % (5 + 2)
            # 0 or 5
            if n % i == 0 or n % (i + 2) == 0:
                isPrime = False
                break
            i += 6
        else:
            isPrime = True


    if isPrime:
        prime.append(n)

prime

34. Split a list into chunks of size `n`.

In [ ]:
ls = [1, 2, 3, 4, 5, 6, 7]
c  = 2
ls_chunk = []
for l in range(0, len(ls), c):
    ls_chunk.append(ls[l:l+c])
    
ls_chunk

35. Find the second largest number in a list.

In [ ]:
ls = [1, 2, 39, 44, 5, 8, 7]
ls.sort()
ls[-2]

36. Replace every element in a list with its square.

In [ ]:
import math
ls = [1, 2, 3, 4, 5]
list(map(math.sqrt, ls))

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
ls = [14, 2, 34, 49, 5]
dist = {}
count = 0
for l in ls:
    dist[count] = l
    count += 1
    
dist

38. Shuffle the elements of a list randomly.

In [ ]:
import random
ls = [14, 2, 34, 49, 5]
random.shuffle(ls)
ls

39. Create a list of the first 10 factorial numbers

In [ ]:
ls = []

for l in range(0, 10):
    if l == 0:
        ls.append(1)
    else:
        val = ls[l-1] * l
        ls.append(val)
        
ls

40. Check if two lists have at least one element in common.

In [ ]:
ls1 = [14, 2, 34, 49, 5]
ls2 = [56, 12, 5, 6]
count = 0

for l in ls1:
    if l in ls2:
        count = 1

        
if count > 0:
    print("Two list have common elements")
else:
    print("Two lists doesn't have common elements")

41. Remove all elements from a list.

In [ ]:
ls = [14, 2, 34, 49, 5]
ls.clear()
ls

42. Replace negative numbers in a list with 0.

In [ ]:
ls = [14, 2, -34, 49, -5]

for l in range(len(ls)):
    if ls[l] < 0:
        ls[l] = 0
        
ls

43. Convert a string into a list of words.

In [ ]:
string = "hello how are you doing"
string.split(" ")

44. Convert a list of words into a string.

In [ ]:
ls = ['hello', 'how', 'are', 'you', 'doing']
' '.join(ls)

45. Create a list of the first `n` powers of 2.

In [ ]:
ls = []
for l in range(1,10):
    ls.append(l*2)
    
ls

46. Find the longest string in a list of strings.

In [ ]:
text = "hello how are you doing"
words = text.split(' ')
max(words, key=len)

47. Find the shortest string in a list of strings.

In [ ]:
text = "hello how are you doing"
words = text.split(' ')
min(words, key=len)

48. Create a list of the first `n` triangular numbers.

In [ ]:
# T(n) = (n * (n + 1)) / 2
[(i*(i +1))//2 for i in range(1,4)]

49. Check if a list contains another list as a subsequence.

In [ ]:
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 3, 6]

sub_idx = 0

for ml in range(len(main_list)):
    if sub_list[sub_idx] == main_list[ml]:
        sub_idx += 1

if len(sub_list) == sub_idx:
    print("sub_list is a subsequence of main_list.")
else:
    print("sub_list is not a subsequence of main_list.")

50. Swap two elements in a list by their indices.

In [ ]:
ls = ['hello', 'how', 'are', 'you', 'doing']
ls[2], ls[3] = ls[3],ls[2]
ls

## Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [ ]:
t = tuple(range(1,6))
t

2. Access the third element of a tuple.

In [ ]:
t = tuple(range(1,6))
t[2]

3. Find the length of a tuple without using the `len()` function.

In [ ]:
tup = tuple(range(1,6))
count = 0
for t in tup:
    count += 1

print(f"Print length of tuple is {count}")

4. Count the occurrences of an element in a tuple.

In [ ]:
t = (2, 5, 5, 6)
t.count(5)

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
t = (2, 1, 5, 5)
t.index(5)

6. Check if an element exists in a tuple.

In [ ]:
t = (2, 1, 7, 5)
element = 10
if element in t:
    print("exists")
else:
    print("not exits")

7. Convert a tuple to a list.

In [ ]:
t = (2, 1, 7, 5)
list(t)

8. Convert a list to a tuple.

In [ ]:
ls = [2, 1, 7, 5]
tuple(ls)

9. Unpack the elements of a tuple into variables.

In [ ]:
t = (2, 1, 7, 5)
t1, t2, t3, t4 = t

print(t1, t2, t3, t4)

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
tuple(i for i in range(1,11) if i%2 == 0 )

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
tuple(i for i in range(1,11) if i%2 != 0 )

12. Concatenate two tuples.

In [ ]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t = t1 + t2
t

13. Repeat a tuple three times.

In [ ]:
t = (2, 4, 6, 8, 10)
t * 3

14. Check if a tuple is empty.

In [ ]:
t = tuple()
if not t:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

15. Create a nested tuple.

In [ ]:
t = (2, 4, 6, 8, 10, (2,5))
t

16. Access the first element of a nested tuple.

In [ ]:
t = (2, 4, 6, 8, 10, (2,5))
t[5][0]

17. Create a tuple with a single element.

In [ ]:
t = (232,)
t

18. Compare two tuples.

In [ ]:
t1 = (2, 4, 6, 8, 10)
t2 = (2, 4, 6, 8, 10)
if t1 == t2:
    print("equal")
else:
    print("not equal")

19. Delete a tuple.

In [ ]:
t = (2, 4, 6, 8, 10)
del(t)

20. Slice a tuple

In [ ]:
t = (2, 4, 6, 8, 10)
t[2:5]

21. Find the maximum value in a tuple.

In [ ]:
t = (2, 4, 6, 8, 10)
max(t)

22. Find the minimum value in a tuple.

In [ ]:
t = (2, 4, 6, 8, 10)
min(t)

23. Convert a string to a tuple of characters.

In [ ]:
text = "hello"
tuple(text)

24. Convert a tuple of characters to a string.

In [ ]:
t = ('h', 'e', 'l', 'l', 'o')
''.join(t)

25. Create a tuple from multiple data types.

In [ ]:
text = "hello"
num = 10
fl = 20.00

t = (text, num, fl)
t

26. Check if two tuples are identical.

In [ ]:
t1 = (2, 4, 6, 8, 10)
t2 = (2, 4, 6, 8, 10)
if t1 == t2:
    print("Both tuples are identical")
else:
    print("Both tuples are NOT identical")

27. Sort the elements of a tuple.

In [ ]:
t = (2, 44, 16, 8, 10)
ls = list(t)
ls.sort()
tuple(ls)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tu = (2, 44, 16, 8, 10)
new_t = tuple(str(t) for t in tu)
new_t

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tu = ('2', '44', '16', '8', '10')
new_t = tuple(int(t) for t in tu)
new_t

30. Merge two tuples.

In [ ]:
t1 = (2, 4, 6, 8, 10)
t2 = (1, 3, 5, 7, 9)
t = t1 + t2
t

31. Flatten a nested tuple.|

In [ ]:
nt = (1, (2, 3), (4, (5, 6)))
ls = list(nt)
fl = []
for l in ls:
    if isinstance(l, tuple):
        for subl in l:
            if isinstance(subl, tuple):
                fl.extend(subl)
            else:
                fl.append(subl)
    else:
        fl.append(l)
    
tuple(fl)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
prime = []

for n in range(12):
    if n <= 1:
        isPrime = False
    elif n <= 3:
        isPrime = True
    elif n % 2 == 0 or n % 3 == 0:
        isPrime = False
    else:
        i = 5
        # 5 * 5 <= 5
        while i * i <= n:
            #5 % 5 == 0 or 5 % (5 + 2)
            # 0 or 5
            if n % i == 0 or n % (i + 2) == 0:
                isPrime = False
                break
            i += 6
        else:
            isPrime = True


    if isPrime:
        prime.append(n)

tuple(prime)

33. Check if a tuple is a palindrome.

In [ ]:
tuple1 = (1,2,3,2,1)

if tuple1 == tuple1[::-1]:
    print("Given tupple is palindrome")
else:
    print("Given tupple is not a palindrome")

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
tup = tuple()
for t in range(1,6):
    tup += (t**2,)

tup

35. Filter out all even numbers from a tuple.

In [ ]:
tup = tuple()
for t in range(1,15):
    if t%2 == 0 :
        tup += (t,)

tup

36. Multiply all elements in a tuple by 2

In [ ]:
tup = tuple()
for t in range(1,10):
    tup += (t*2,)

tup

37. Create a tuple of random numbers.

In [ ]:
import random
tup = tuple()
for t in range(1,10):
    rand = random.randint(1,100)
    tup += (rand,)

tup

38. Check if a tuple is sorted.

In [ ]:
# Create an unsorted tuple
tup = (3, 1, 4, 1, 5)
#tup = (1,2,3,4,5,6)
for i in range(len(tup)-1):
    if tup[i] > tup[i+1]:
        print("Tuple is unsorted")
        break
else:
    print("Tuple is sorted")

39. Rotate a tuple to the left by `n` positions.

In [ ]:
tup = (1,2,3,4,5,6)
p = 2
tup[p:] + tup[:p]

40. Rotate a tuple to the right by `n` positions.

In [ ]:
tup = (1,2,3,4,5,6)
p = 2
tup[-p:] + tup[:-p]

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
tup = (0, 1)
for t in range(1, 4):
    fin = tup[-1] + tup[-2]
    tup += (fin,)

tup

42. Create a tuple from user input.

In [ ]:
r1 = int(input("Enter min value: "))
r2 = int(input("Enter max value: "))
tuple(range(r1, r2))

43. Swap two elements in a tuple.

In [ ]:
tup = tuple(range(1,6))
ls = list(tup)
ls[2], ls[3] = ls[3], ls[2]
tup = tuple(ls)
tup

44. Reverse the elements of a tuple.

In [ ]:
tup = tuple(range(1,6))
tuple(reversed(tup))

45. Create a tuple of the first `n` powers of 2.

In [ ]:
tup= tuple()
for t in range(10):
    tup += (2 ** t,)
tup

46. Find the longest string in a tuple of strings.

In [ ]:
tup = ("hi", "how", "are", "yossssu", "doing")
max_str = ""
for t in tup:
    if len(t) > len(max_str):
        max_str = t

max_str

47. Find the shortest string in a tuple of strings.

In [ ]:
tup = ("hi", "how", "are", "yossssu", "s", "doing")
max_str = tup[0]
for t in tup:
    if len(t) < len(max_str):
        max_str = t

max_str

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# T(n) = (n * (n + 1)) / 2
n = 4
tuple((t*(t+1))//2 for t in range(1,n))

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
main_list = (1, 2, 3, 4, 5, 6)
sub_list = (2, 3, 6)

sub_idx = 0

for ml in range(len(main_list)):
    if sub_list[sub_idx] == main_list[ml]:
        #print(f"{sub_list[sub_idx]}   {main_list[ml]}")
        sub_idx += 1

if len(sub_list) == sub_idx:
    print("sub_list is a subsequence of main_list.")
else:
    print("sub_list is not a subsequence of main_list.")

50. Create a tuple of alternating 1s and 0s of length `n`

In [ ]:
n = 5
ls = []
for i in range(n):
    ls.append([1, 0][i % 2])

tuple(ls)

## Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [ ]:
a = set(range(1,6))
a

2. Add an element to a set.

In [ ]:
a = set(range(1,6))
a.add(10)
a

3. Remove an element from a set.

In [ ]:
a = set(range(1,6))
a.remove(3)
a

4. Check if an element exists in a set.

In [ ]:
if 5 in set(range(1,10)):
    print("exists")

5. Find the length of a set without using the `len()` function.

In [ ]:
s1 = set(range(1,10))
count = 0
for s in s1:
    count += 1

print("length of set is ", count)

6. Clear all elements from a set.

In [ ]:
s1 = set(range(1,10))
s1.clear()
s1

7. Create a set of even numbers from 1 to 10.

In [ ]:
even_num = {x for x in range(1,10) if x % 2 == 0}
even_num

8. Create a set of odd numbers from 1 to 10.

In [ ]:
even_num = {x for x in range(1,10) if x % 2 != 0}
even_num

9. Find the union of two sets.

In [ ]:
s1 = set(range(1,6))
s2 = set(range(5,10))

s1.union(s2)

10. Find the intersection of two sets.

In [ ]:
s1 = set(range(1,8))
s2 = set(range(5,10))

s1.intersection(s2)

11. Find the difference between two sets.

In [ ]:
s1 = set(range(1,8))
s2 = set(range(5,10))

s1.difference(s2)

12. Check if a set is a subset of another set.

In [ ]:
s1 = set(range(1,8))
s2 = set(range(2,5))

s2.issubset(s1)

13. Check if a set is a superset of another set.

In [ ]:
s1 = set(range(1,8))
s2 = set(range(2,5))

s1.issuperset(s2)

14. Create a set from a list.

In [ ]:
ls = list(range(10))
s1 = set(ls)
s1

15. Convert a set to a list.

In [ ]:
s1 = set(range(10))
list(s1)

16. Remove a random element from a set.

In [ ]:
import random

s1 = set(range(1,10))
print(s1)
s1.remove(random.randint(1,9))
print(s1)

17. Pop an element from a set.

In [ ]:
s1 = set(range(1,10))
s1.pop()
s1

18. Check if two sets have no elements in common.

In [ ]:
s1 = set(range(1,5))
s2 = set(range(5,10))

if len(s1.intersection(s2)) > 0:
    print("Two sets have a common elments", s1.intersection(s2))
else:
    print("Two sets have no common elments")

19. Find the symmetric difference between two sets.

In [ ]:
s1 = set(range(1,7))
s2 = set(range(5,10))

s1.symmetric_difference(s2)

20. Update a set with elements from another set.

In [ ]:
s1 = {1, 2, 3, 4, 5, 8}
s2 = {3, 4, 5, 6, 7}
s1.update(s2)
s1

21. Create a set of the first 5 prime numbers.

In [ ]:
prime = []

for n in range(12):
    if n <= 1:
        isPrime = False
    elif n <= 3:
        isPrime = True
    elif n % 2 == 0 or n % 3 == 0:
        isPrime = False
    else:
        i = 5
        # 5 * 5 <= 5
        while i * i <= n:
            #5 % 5 == 0 or 5 % (5 + 2)
            # 0 or 5
            if n % i == 0 or n % (i + 2) == 0:
                isPrime = False
                break
            i += 6
        else:
            isPrime = True


    if isPrime:
        prime.append(n)

set(prime)

22. Check if two sets are identical.

In [ ]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {3, 4, 5, 6, 2, 1}

if s1 == s2:
    print("Indentical")
else:
    print("Not Identical")

23. Create a frozen set.

In [ ]:
s = frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [ ]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

if s1.isdisjoint(s2):
    print("Sets are Disjoint")
else:
    print("Sets are not a disjoint")

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
{s**2 for s in range(1,6)}

26. Filter out all even numbers from a set.

In [ ]:
{s for s in range(1,10) if s%2 != 0}

27. Multiply all elements in a set by 2.

In [ ]:
s1 = {2,5,8,9} 
{s*2 for s in s1}

28. Create a set of random numbers.

In [ ]:
import random
{random.randint(1,100) for s in range(0,10)}

29. Check if a set is empty.

In [ ]:
s1 = set()
if len(s1) == 0:
    print("Set is empty")
else:
    print("String is not empty")

30. Create a nested set (hint: use frozenset).

In [ ]:
frozenset([1, 2, frozenset([3, 4])])

31. Remove an element from a set using the discard method

In [ ]:
s1 = {1, 2, 3, 4, 5}
s1.discard(3)
s1

32. Compare two sets.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}

if s1 == s2:
    print("Sets are same")
else:
    print("Sets are different")

33. Create a set from a string.

In [ ]:
text = "hello how are you"
set(text)

34. Convert a set of strings to a set of integers.

In [ ]:
s1 = {'1', '2', '4', '5'}
{int(s) for s in s1}

35. Convert a set of integers to a set of strings.

In [ ]:
s1 = {1, 2, 4, 5}
s2 = set()
for s in s1:
    s2.add(str(s))
s2

36. Create a set from a tuple.

In [ ]:
tup = (1, 3, 4, 5)
s = set(tup)
print(type(s))
print(s)

37. Convert a set to a tuple.

In [ ]:
s = {1, 3, 4, 5, 8, 7}
t = tuple(s)
t

38. Find the maximum value in a set.

In [ ]:
s = {1, 3, 4, 5, 8, 7}
max(s)

39. Find the minimum value in a set.

In [ ]:
s = {1, 3, 4, 5, 8, 7}
min(s)

40. Create a set from user input.

In [ ]:
s = set()
n = int(input("Enter tuple length: "))
for i in range(n):
    n = int(input(f"enter element {i+1} "))
    s.add(n)

s

41. Check if the intersection of two sets is empty.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {6,7,8}

print(s1.intersection(s2))

if len(s1.intersection(s2)) > 0 :
    print("Intersection of two sets is not empty")
else:
    print("Intersection of two sets is empty")

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
fin = [0, 1]
for l in range(4):
     fin.append(fin[-1] + fin[-2])
        
set(fin)

43. Remove duplicates from a list using sets.

In [ ]:
s = {2, 3, 4, 6, 3, 6, 7}
s

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 3, 4}

print(s1.intersection(s2))

if len(s1.intersection(s2)) > 0 :
    print("Two sets have common elements")
else:
    print("Two sets doens't have common elements")

45. Create a set of the first `n` powers of 2.

In [ ]:
{2**n for n in range(0,10)}

46. Find the common elements between a set and a list.

In [ ]:
ls = [2, 3, 4, 5]
s = {2, 4}

s.intersection(set(ls))

47. Create a set of the first `n` triangular numbers

In [ ]:
# T(n) = (n * (n + 1)) / 2
n = 4
{(n * (n+1))//2 for n in range(1,n) }

48. Check if a set contains another set as a subset.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 5, 4}

print(s2.issubset(s1))

if s2.issubset(s1):
    print("s2 is a subset of s1")
else:
    print("s2 is not a subset of s1")

49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
n = 7
ls = []
for i in range(n):
    ls.append([1, 0][i%2])
set(ls)

50. Merge multiple sets into one.

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 5, 4}
set(list(s1) + list(s2))